.navbar {
  z-index: 1;
  background-color: rgb(33, 37, 41);
}
.nav-link {
  color: white !important;
}

.jumbotron {
  background-image: url(img/arnold-francisca-f77Bh3inUpE-unsplash.webp);
  background-size: cover;
  height: 640px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px !important;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
}
.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}
.about {
  background-color: black;
  color: white;
  height: 400px;
}

/* Desktop version */
@media (min-width: 992px) {
  .navbar {
    z-index: 1;
    background-color: transparent;
  }
  .nav-link {
    color: white !important;
  }

  .jumbotron {
    margin-top: -60px;
  }


}